{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }} | {{APP_NAME}}</title>
    {% else %}
    <title>{{APP_NAME}}</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/material-admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/material-admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/material-admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/material-admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/material-admin/css/demo/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{APP_FAVICON}}" />
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}">
    </script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
</head>

<body>
    <script src="{% static 'assets/material-admin/js/preloader.js' %}"></script>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    {%block content %}{%endblock%}
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script>
        window.start_loader = function() {
            $('body').removeClass('loaded')
        }
        window.end_loader = function() {
            $('body').addClass('loaded')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
    </script>

    <script src="{% static 'assets/material-admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/material-admin/js/material.js' %}"></script>
    <script src="{% static 'assets/material-admin/js/misc.js' %}"></script>
    <script src="{% static 'assets/material-admin/js/dashboard.js' %}"></script>
</body>

</html>