{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{% endblock %} | {{APP_NAME}}</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{APP_FAVICON}}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-container">
            <div class="main-panel">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo">
                                    <img src="{{APP_LOGO}}" alt="">
                                </div>
                                {%block content %}{%endblock%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
</body>

</html>