{% load humanize %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        {%for key,component in stats.items%}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
            <div class="mdc-card info-card {{component.card_class}}">
                <div class="card-inner">
                    <h5 class="card-title">{{component.title}}</h5>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ component.value|intcomma }}</h5>
                    <p class="tx-12 text-muted">{{component.desc}}</p>
                    <div class="card-icon-wrapper">
                        <i class="material-icons">{{component.icon}}</i>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
























<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
            <div class="mdc-card">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-2 mb-sm-0">Revenue by location</h4>
                    <div class="d-flex justtify-content-between align-items-center">
                        <p class="d-none d-sm-block text-muted tx-12 mb-0 mr-2">Goal reached</p>
                        <i class="material-icons options-icon">more_vert</i>
                    </div>
                </div>
                <div class="d-block d-sm-flex justify-content-between align-items-center">
                    <h6 class="card-sub-title mb-0">Sales performance revenue based by country</h6>
                    <div class="mdc-tab-wrapper mdc-tab--secondary revenue-tab">
                        <div class="mdc-tab-bar" role="tablist">
                            <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area">
                                    <div class="mdc-tab-scroller__scroll-content">
                                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true"
                                            tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">1W</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                <span
                                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">1M</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator">
                                                <span
                                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">3M</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator">
                                                <span
                                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">1Y</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator">
                                                <span
                                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                        <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">ALL</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator">
                                                <span
                                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content content--active">
                        </div>
                        <div class="content">
                        </div>
                        <div class="content">
                        </div>
                        <div class="content">
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
                <div class="chart-container mt-4">
                    <canvas id="revenue-chart" height="260"></canvas>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card">
                <div class="d-flex d-lg-block d-xl-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Order Statistics</h4>
                        <h6 class="card-sub-title">Customers 58.39k</h6>
                    </div>
                    <div id="sales-legend" class="d-flex flex-wrap"></div>
                </div>
                <div class="chart-container mt-4">
                    <canvas id="chart-sales" height="260"></canvas>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card bg-success text-white">
                <div class="d-flex justify-content-between">
                    <h3 class="font-weight-normal">Impressions</h3>
                    <i class="material-icons options-icon text-white">more_vert</i>
                </div>
                <div class="mdc-layout-grid__inner align-items-center">
                    <div
                        class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                        <div>
                            <h5 class="font-weight-normal mt-2">Customers 58.39k</h5>
                            <h2 class="font-weight-normal mt-3 mb-0">636,757K</h2>
                        </div>
                    </div>
                    <div
                        class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone">
                        <canvas id="impressions-chart" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card bg-info text-white">
                <div class="d-flex justify-content-between">
                    <h3 class="font-weight-normal">Traffic</h3>
                    <i class="material-icons options-icon text-white">more_vert</i>
                </div>
                <div class="mdc-layout-grid__inner align-items-center">
                    <div
                        class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                        <div>
                            <h5 class="font-weight-normal mt-2">Customers 58.39k</h5>
                            <h2 class="font-weight-normal mt-3 mb-0">636,757K</h2>
                        </div>
                    </div>
                    <div
                        class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone">
                        <canvas id="traffic-chart" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card d-block d-lg-flex flex-row p-0">
                <div class="w-lg-50">
                    <div class="mdc-layout-grid__inner grid-gap-0">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                            <div class="d-block d-md-flex">
                                <div class="mdc-card border-bottom box-shadow-none rounded-0 statitics-card">
                                    <div class="d-flex justify-content-between statitics-card-header">
                                        <h6 class="font-weight-light">VISITORS</h6>
                                        <i class="material-icons">cancel</i>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4 statitics-card-content">
                                        <div>
                                            <h3>1,541</h3>
                                            <h6 class="font-weight-light">Page views</h6>
                                        </div>
                                        <i class="material-icons text-primary">people_outline</i>
                                    </div>
                                </div>
                                <div class="mdc-card border-bottom box-shadow-none rounded-0 statitics-card">
                                    <div class="d-flex justify-content-between statitics-card-header">
                                        <h6 class="font-weight-light">REVENUE</h6>
                                        <i class="material-icons">cancel</i>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4 statitics-card-content">
                                        <div>
                                            <h3>416 M</h3>
                                            <h6 class="font-weight-light">Primary</h6>
                                        </div>
                                        <i class="material-icons text-info">account_balance_wallet</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                            <div class="d-block d-md-flex">
                                <div class="mdc-card box-shadow-none rounded-0 statitics-card">
                                    <div class="d-flex justify-content-between statitics-card-header">
                                        <h6 class="font-weight-light">TOTAL PRODUCTS</h6>
                                        <i class="material-icons">cancel</i>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4 statitics-card-content">
                                        <div>
                                            <h3>3,541</h3>
                                            <h6 class="font-weight-light">Active Listings</h6>
                                        </div>
                                        <i class="material-icons text-success">redeem</i>
                                    </div>
                                </div>
                                <div class="mdc-card box-shadow-none rounded-0 statitics-card">
                                    <div class="d-flex justify-content-between statitics-card-header">
                                        <h6 class="font-weight-light">MARKUP</h6>
                                        <i class="material-icons">cancel</i>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4 statitics-card-content">
                                        <div>
                                            <h3>1,541</h3>
                                            <h6 class="font-weight-light">Cost of Goods</h6>
                                        </div>
                                        <i class="material-icons text-danger">bubble_chart</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-card box-shadow-none rounded-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title">Latest Orders</h4>
                            <h6 class="card-sub-title mb-0">Customers 58.39k</h6>
                        </div>
                        <div>
                            <a href="#" class="tx-12 font-weight-medium text-info mb-0">Show all</a>
                        </div>
                    </div>
                    <div class="d-block d-md-flex align-items-center border-bottom pt-3 pb-4">
                        <img src="../assets/images/dashboard/image_1.jpg" alt="">
                        <div class="d-flex flex-column flex-grow-1 ml-md-4">
                            <h5 class="font-weight-light mb-0">Limited Edition Collection</h5>
                            <p class="font-weight-light">Fall 2019</p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex align-items-center pt-3">
                        <img src="../assets/images/dashboard/image_2.jpg" alt="">
                        <div class="d-flex flex-column flex-grow-1 ml-md-4">
                            <p class="mb-0">Dark Blue Shoes - Limited Collection</p>
                            <div class="d-flex justify-content-between">
                                <p class="font-weight-light mb-0">SKU: 08451345264 | $250.00</p>
                                <a href="#" class="tx-12 font-weight-medium text-info mb-0">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-md-flex align-items-center pt-3">
                        <img src="../assets/images/dashboard/image_3.jpg" alt="">
                        <div class="d-flex flex-column flex-grow-1 ml-md-4">
                            <p class="mb-0">Dark Blue Shoes - Limited Collection</p>
                            <div class="d-flex justify-content-between">
                                <p class="font-weight-light mb-0">SKU: 08451345264 | $250.00</p>
                                <a href="#" class="tx-12 font-weight-medium text-info mb-0">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-wide-desktop mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card product-card p-0">
                <img src="../assets/images/dashboard/image_5.jpg" class="w-100 h-100" alt="">
                <div class="product-box">
                    <div class="product-name-box">
                        <div class="product-name-box-primary">
                            <p class="pl-4 pt-2">Long Strappy Dress</p>
                            <h4 class="font-weight-normal pl-4 mt-2">$399.00</h4>
                        </div>
                        <div class="add-product-button">
                            <button
                                class="mdc-button mdc-button--secondary-shadow mdc-button--raised icon-button shaped-button secondary-filled-button">
                                <i class="material-icons mdc-button__icon">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="product-description-box">
                        <p class="font-weight-normal product-description-box-text">Qui, explicabo eius nisi fugit
                            repudiandae, quos voluptates, beatae ullam consectetur ducimus</p>
                        <div class="d-block d-sm-flex justify-content-between align-items-center mt-3">
                            <div class="d-flex">
                                <select id="long-strappy-dress-rating" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <p class="tx-12 text-muted mb-0 ml-1">4 ( 342 )</p>
                            </div>
                            <a href="" class="text-black">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-wide-desktop mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card product-card p-0">
                <img src="../assets/images/dashboard/image_6.jpg" class="w-100 h-100" alt="">
                <div class="product-box">
                    <div class="product-name-box">
                        <div class="product-name-box-info">
                            <p class="pl-4 pt-2">Strappy Round Neck Sweater</p>
                            <h4 class="font-weight-normal pl-4 mt-2">$249.00</h4>
                        </div>
                        <div class="add-product-button">
                            <button
                                class="mdc-button mdc-button--secondary-shadow mdc-button--raised icon-button shaped-button secondary-filled-button">
                                <i class="material-icons mdc-button__icon">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="product-description-box">
                        <p class="font-weight-normal product-description-box-text">Qui, explicabo eius nisi fugit
                            repudiandae, quos voluptates, beatae ullam consectetur ducimus</p>
                        <div class="d-block d-sm-flex justify-content-between align-items-center mt-3">
                            <div class="d-flex">
                                <select id="strappy-round-neck-sweater-rating" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <p class="tx-12 text-muted mb-0 ml-1">4 ( 342 )</p>
                            </div>
                            <a href="" class="text-black">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-wide-desktop mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card product-card p-0">
                <img src="../assets/images/dashboard/image_4.jpg" class="w-100 h-100" alt="">
                <div class="product-box">
                    <div class="product-name-box">
                        <div class="product-name-box-success">
                            <p class="pl-4 pt-2">Chenille Cardigan</p>
                            <h4 class="font-weight-normal pl-4 mt-2">$899.00</h4>
                        </div>
                        <div class="add-product-button">
                            <button
                                class="mdc-button mdc-button--secondary-shadow mdc-button--raised icon-button shaped-button secondary-filled-button">
                                <i class="material-icons mdc-button__icon">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="product-description-box">
                        <p class="font-weight-normal product-description-box-text">Qui, explicabo eius nisi fugit
                            repudiandae, quos voluptates, beatae ullam consectetur ducimus</p>
                        <div class="d-block d-sm-flex justify-content-between align-items-center mt-3">
                            <div class="d-flex">
                                <select id="chenille-cardigan-rating" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <p class="tx-12 text-muted mb-0 ml-1">4 ( 342 )</p>
                            </div>
                            <a href="" class="text-black">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mb-0">Revenue by location</h4>
                    <div>
                        <i class="material-icons refresh-icon">refresh</i>
                        <i class="material-icons options-icon ml-2">more_vert</i>
                    </div>
                </div>
                <div class="d-block d-sm-flex justify-content-between align-items-center">
                    <h5 class="card-sub-title mb-2 mb-sm-0">Sales performance revenue based by country</h5>
                    <div class="menu-button-container">
                        <button
                            class="mdc-button mdc-menu-button mdc-button--raised button-box-shadow tx-12 text-dark bg-white font-weight-light">
                            Last 7 days
                            <i class="material-icons">arrow_drop_down</i>
                        </button>
                        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                                <li class="mdc-list-item" role="menuitem">
                                    <h6 class="item-subject font-weight-normal">Back</h6>
                                </li>
                                <li class="mdc-list-item" role="menuitem">
                                    <h6 class="item-subject font-weight-normal">Forward</h6>
                                </li>
                                <li class="mdc-list-item" role="menuitem">
                                    <h6 class="item-subject font-weight-normal">Reload</h6>
                                </li>
                                <li class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem">
                                    <h6 class="item-subject font-weight-normal">Save As..</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner mt-2">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
                        <div class="table-responsive">
                            <table class="table dashboard-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="flag-icon-container"><i
                                                    class="flag-icon flag-icon-us mr-2"></i></span>United States
                                        </td>
                                        <td>$1,671.10</td>
                                        <td class=" font-weight-medium"> 39% </td>
                                    </tr>
                                    <tr>
                                        <td> <span class="flag-icon-container"><i
                                                    class="flag-icon flag-icon-ph mr-2"></i></span>Philippines </td>
                                        <td>$1,064.75</td>
                                        <td class=" font-weight-medium"> 30% </td>
                                    </tr>
                                    <tr>
                                        <td> <span class="flag-icon-container"><i
                                                    class="flag-icon flag-icon-gb mr-2"></i></span>United Kingdom</td>
                                        <td>$1,055.98</td>
                                        <td class=" font-weight-medium"> 45% </td>
                                    </tr>
                                    <tr>
                                        <td> <span class="flag-icon-container"><i
                                                    class="flag-icon flag-icon-ca mr-2"></i></span>Canada</td>
                                        <td>$1,045.49</td>
                                        <td class=" font-weight-medium"> 80% </td>
                                    </tr>
                                    <tr>
                                        <td> <span class="flag-icon-container"><i
                                                    class="flag-icon flag-icon-fr mr-2"></i></span>France</td>
                                        <td>$2,050.93</td>
                                        <td class=" font-weight-medium"> 10% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
                        <div id="revenue-map" class="revenue-world-map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Earning Statastics</h4>
                        <h5 class="card-sub-title">Sales performance revenue based by country</h5>
                    </div>
                    <button
                        class="mdc-button mdc-button--raised button-box-shadow tx-12 text-dark bg-white font-weight-light">
                        Overview
                    </button>
                </div>
                <div class="flot-chart-container mt-4">
                    <div id="earning-chart" class="earning-flot-chart"></div>
                </div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card">
                <h4 class="card-title">Sales Overview</h4>
                <h5 class="card-sub-title">Here’s what’s happening with your projects today</h5>
                <div class="table-responsive mt-3">
                    <table class="table dashboard-table sales-table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="d-flex align-items-center">
                                        <div class="mdc-checkbox mdc-checkbox--secondary">
                                            <input type="checkbox" class="mdc-checkbox__native-control">
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                    <path class="mdc-checkbox__checkmark-path" fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Product</p>
                                    </div>
                                </th>
                                <th>Sales</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="mdc-checkbox mdc-checkbox--secondary">
                                            <input type="checkbox" class="mdc-checkbox__native-control">
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                    <path class="mdc-checkbox__checkmark-path" fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Philippines </p>
                                    </div>
                                </td>
                                <td>$1,671.10</td>
                                <td class=" font-weight-medium"> 39% </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="mdc-checkbox mdc-checkbox--secondary">
                                            <input type="checkbox" class="mdc-checkbox__native-control">
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                    <path class="mdc-checkbox__checkmark-path" fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Macbook Pro</p>
                                    </div>
                                </td>
                                <td>$1,064.75</td>
                                <td class=" font-weight-medium"> 30% </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="mdc-checkbox mdc-checkbox--secondary">
                                            <input type="checkbox" class="mdc-checkbox__native-control">
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                    <path class="mdc-checkbox__checkmark-path" fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Product</p>
                                    </div>
                                </td>
                                <td>$1,055.98</td>
                                <td class=" font-weight-medium"> 45% </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
            <div class="mdc-card p-0 product-list">
                <div class="product-list-header">
                    <h4 class="card-title">Latest products</h4>
                    <h5 class="card-sub-title">You can focus on the things that matter.</h5>
                </div>
                <div class="product-list-item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/dashboard/Slack.png" alt="">
                        <div class="ml-3">
                            <h5 class="font-weight-medium mb-0">Slack</h5>
                            <p class="mb-0 text-muted">Cloud-based software</p>
                        </div>
                    </div>
                    <div>
                        <i class="material-icons options-icon">more_vert</i>
                    </div>
                </div>
                <div class="product-list-item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/dashboard/skype.png" alt="">
                        <div class="ml-3">
                            <h5 class="font-weight-medium mb-0">Skype</h5>
                            <p class="mb-0 text-muted">Computer application</p>
                        </div>
                    </div>
                    <div>
                        <i class="material-icons options-icon">more_vert</i>
                    </div>
                </div>
                <div class="product-list-item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/dashboard/evernote.png" alt="">
                        <div class="ml-3">
                            <h5 class="font-weight-medium mb-0">Evernote</h5>
                            <p class="mb-0 text-muted">Downloadable software</p>
                        </div>
                    </div>
                    <div>
                        <i class="material-icons options-icon">more_vert</i>
                    </div>
                </div>
                <div class="product-list-item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/dashboard/dropbox.png" alt="">
                        <div class="ml-3">
                            <h5 class="font-weight-medium mb-0">Dropbox</h5>
                            <p class="mb-0 text-muted">Hosting service </p>
                        </div>
                    </div>
                    <div>
                        <i class="material-icons options-icon">more_vert</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
            <div class="mdc-card dashboard-inline-datepicker datepicker-custom p-0">
                <div class="datepicker-box-top">
                    <p class="text-white">Tuesday</p>
                    <button
                        class="mdc-button mdc-button--secondary mdc-button--raised icon-button shaped-button secondary-filled-button">
                        <i class="material-icons mdc-button__icon">add</i>
                    </button>
                </div>
                <div id="datepicker"></div>
            </div>
        </div>
        <div
            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
            <div class="mdc-card p-0 to-do-list">
                <div class="mdc-tab-wrapper">
                    <div
                        class="d-flex align-items-center justify-content-between bg-success text-white to-do-list-header">
                        <h4 class="card-title">Todo List</h4>
                        <div class="d-flex">
                            <i class="material-icons">list</i>
                            <i class="material-icons ml-2">date_range</i>
                            <i class="material-icons ml-2">star</i>
                            <i class="material-icons ml-2">more_vert</i>
                        </div>
                    </div>
                    <div class="mdc-tab-bar bg-success" role="tablist">
                        <div class="mdc-tab-scroller">
                            <div class="mdc-tab-scroller__scroll-area">
                                <div class="mdc-tab-scroller__scroll-content">
                                    <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true"
                                        tabindex="0">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label text-white">Todo</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                            <span class="mdc-tab__text-label text-white">Done</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                            <span
                                                class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content content--active">
                        <div class="to-do-list-content">
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Meet up with friends</h5>
                                    <p class="tx-12 text-muted mb-0">at McDonald’s, Monday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Finish the proposal design</h5>
                                    <p class="tx-12 text-muted mb-0">at office, Thursday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Contract for the client ASAP</h5>
                                    <p class="tx-12 text-muted mb-0">at office, Thursday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="to-do-list-content">
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Pick Jane from school</h5>
                                    <p class="tx-12 text-muted mb-0">at school, Thursday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Meet up with friends</h5>
                                    <p class="tx-12 text-muted mb-0">at McDonald’s, Monday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                            <div class="to-do-list-item">
                                <div class="ml-3">
                                    <h5 class="mb-0 font-weight-medium">Finish the proposal design</h5>
                                    <p class="tx-12 text-muted mb-0">at office, Thursday</p>
                                </div>
                                <i class="material-icons ml-auto mr-3 delete-icon">delete</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>