{% load static i18n crispy_forms_tags %}
<div id="password-reset-form" class="card mb-3" hx-target="this" hx-swap="outerHTML">
    {%if profile and form%}
    <h5 class="card-title">Reset Password for {{profile.name}}</h5>
    <div>
    <form hx-post="{%url 'user' profile.id%}?action=reset-password">
        {%csrf_token%}
        {{form}}
        <button type="button" class="btn btn-warning" href="#password-reset-form" data-dismiss="alert" aria-label="close">Close</button>
        <button class="btn btn-primary">Save</button>
    </form>
    </div>
    {%else%}
    <div class="alert alert-danger" href="#password-reset-form" data-dismiss="alert" aria-label="close">Action forbidden <i class="fa fa-close pull-right"></i></div>
    {%endif%}
</div>