{% extends "base.html" %} {% load humanize %}
{% block content %}

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-card ml-2 mr-2">
        <form hx-get="{%url 'stats'%}" hx-target=".stats-section">
            <div class="d-lg-flex justify-content-between align-items-center">
                {%if users%}
                <select name="user" class="mdc-text-field__input">
                    <option value="">Employee</option>
                    {%for user in users%}
                    <option value="{{user.pk}}">{{user.name}}</option>
                    {%endfor%}
                </select>
                {%endif%}
                <div class="mdc-text-field mdc-text-field--outlined">
                    <input name="date" class="mdc-text-field__input" type="date" id="text-field-hero-input">
                    <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="text-field-hero-input" class="mdc-floating-label">Date</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                <button type="submit" class="mdc-button mdc-button--raised mdc-ripple-upgraded px-4 height-auto ml-3">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="stats-section mdc-layout-grid__cell mdc-layout-grid__cell--span-12" hx-get="{%url 'stats'%}"
    hx-trigger="load">

</div>

{% endblock content %}